* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: JetBrainsMono Nerd Font;
  font-size: 13px;
}

#waybar {
  background: transparent;
}



#waybar.empty #window {
    background: none;
}
#waybar.hidden {
  opacity: 0.5;
}

#workspaces button {
  all: initial;
  min-width: 0;
  box-shadow: inset 0 -3px transparent;
  padding: 6px 18px;
  margin: 6px 3px;
  border-radius: 4px;
  color: #99ffdd
}


#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: #ffcc66;
}

/* System Modules */
#memory,
#clock,
#cpu,
#window,
#custom-notification,
#custom-music,
#network {
  border-radius: 4px;
  margin: 6px 3px;
  padding: 6px 12px;
  color: #99ffdd;
}

/* Modules */
#workspaces button,
#custom-notification,
#custom-music,
#cpu,
#memory,
#clock,
#network,
#window,
#custom-music
{
  background-color: #262928;
}
/* Special Effects */
@keyframes blink {
  to {
    background-color: #f38ba8;
    color: #181825;
  }
}

#workspaces button.urgent {
  animation: blink 1s infinite;
}

